/* 
App stylings
*/

body {
    font-size: 120%;
}

nav {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 0 20px rgb(0, 0, 1);
}

nav ul a {
    color: white !important;
}

nav ul a:hover {
    color: white !important;
    background-color: blue;
    padding: 15px;
    border-radius: 7%;
}

main {
    padding: 2%;
}

.main-container {
    /*width: 70%;*/
    margin: auto;
}

.profile-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 50%;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#profile-row {
    color: white;
    padding: 10%;
    margin-bottom: 30px;
}

.prof-description {
    margin-top: 15px;
    margin-left: 15px;
}

.portfolio-btn {
    margin-left: 15px;
}